.side-bar {


    padding: 20px 40px 0;
    flex-direction: column;


}

.side-bar.open {}

.side-bar .buttons-block {

    justify-content: space-evenly;
    margin: 16px 0 32px 0px;

}
::ng-deep .dropdown{
    width: 70%;
}
.side-bar .option-block {

    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}