::ng-deep.form-builder{
width: 60% !important;
height: 100vh !important;
overflow-y: scroll !important;
} 
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .login-modal {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001;
  }
  
  .login-modal p {
    margin-bottom: 20px;
  }
  
  