.nav-container {
    display: flex;
    height: 10vh;
    background-color: var(--navbar-bg-color);
    padding: 20px 50px;
    border-bottom: 1px solid var(--gray);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
   
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-left: 6px;
}
img{
    width: 130px;
    height: 40px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-links ul li {
    margin: 0 10px;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    font-size: 13px;
    padding: 11px 30px;
    border-radius: 23px;
    text-transform: capitalize;
    color: var(--primary-color);
  }
  

  .active{
    background-color: var(--secondary-color);
    color: white !important;
    font-weight:600;
  }



.user-avatar {
    height: 40px;
    width: 40px;
    background-color: var(--avatar-bg);
    position: relative;
    border-radius: 50%;
}

.user-avatar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-container span{
  margin-left: 60px;
  font-size: 13px;
  width: 12%;
  align-self: center;
  text-align: end;
  color: var(--darker-gray);

}