<div class="nav-container">
    <div class="form-title">
        <a routerLink="/forms"><img src="../../../assets/logo.svg" alt=""></a>

    </div>
    <div class="nav-links">
        <ul>
            <li><a routerLink="/builder/{{formid}}" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">builder</a></li>
            <li><a routerLink="/builder/{{formid}}/responses" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">responses</a></li>
        </ul>
    </div>
    <div class="user-avatar">
        <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.1528 11.9389C13.095 11.9389 15.4802 9.49009 15.4802 6.4694C15.4802 3.44871 13.095 0.999947 10.1528 0.999947C7.21046 0.999947 4.82526 3.44871 4.82526 6.4694C4.82526 9.49009 7.21046 11.9389 10.1528 11.9389Z" fill="#C2B6EE" fill-opacity="0.97" stroke="#7339ED" stroke-opacity="0.94699" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.3053 22.8777C19.3053 18.6444 15.2031 15.2205 10.1526 15.2205C5.10218 15.2205 1 18.6444 1 22.8777" fill="#C2B6EE" fill-opacity="0.97"/>
            <path d="M19.3053 22.8777C19.3053 18.6444 15.2031 15.2205 10.1526 15.2205C5.10218 15.2205 1 18.6444 1 22.8777" stroke="#7339ED" stroke-opacity="0.94699" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>

