<div class="wrapper">
  <h1>Sign In</h1>

  <form class="form" #f="ngForm" (ngSubmit)="login(f)">
    <div class="input">
      <div class="input3">
        <lg-text-field
          type="email"
          placeholder="Email@gmail.com"
          layout="outline"
          ngModel
          name="emailControl"
          [invalidControl]="invalidControl"
          errorMsg="{{errorMsg}}"
        ></lg-text-field>
      </div>

      <div class="input3">
        <lg-text-field
          type="password"
          placeholder="Password"
          layout="outline"
          ngModel
          errorMsg="{{errorMsg}}"
          [invalidControl]="invalidControl"
          name="passwordControl"
        ></lg-text-field>
      </div>
    </div>
    <lf-button
      *ngIf="isSubmitting === false"
      text="login"
      type="submit"
      layout="primary"
    ></lf-button>
    <lf-button
      *ngIf="isSubmitting === true"
      text="loading..."
      type="submit"
      layout="primary"
      [isDisabled]="isSubmitting === true"
    ></lf-button>
  </form>
  <button (click)="signInWithGoogle()">Sign in with Google</button>

  <div class="member">
    you forgot your password ?
    <a href="account/update-password"> <span>reset password</span> </a>
  </div>
  <div class="member">
    you dont have an account
    <a href="account/register"> <span>register Here</span> </a>
  </div>
</div>
