.container {
    width: 50%;
    margin-top: 3%;
    position: relative;

}

.responses-number {
    color: var(--secondary-color);
    font-weight: 600;


}

button {
    color: var(--secondary-color);
    text-align: end;
    position: absolute;
    top: 15px;
    right: 15px;
}

.table-responsive {
    overflow-x: auto;
    margin: 20px 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: small;
}

.table {
    width: 100%;
    border-collapse: collapse;

}

.table th,
.table td {
    padding: 15px 20px;
    border: var(--separation-border);
    text-align: left;
    color: var(--font-color);
    
}

.table th {
    background-color: var(--primary-color);
    color: var(--white);


}

.table tbody tr:nth-child(even) {
    background-color: var(--salty-white);
}

.table tbody tr:hover {
    background-color: var(--hover-bg);
}

.table tbody td {
    background-color: var(--white);
    vertical-align: middle;

}

.table td {
    word-break: break-word;
    max-width: 200px;
    /* Adjust as needed */
    min-width: 100px;
    height: max-content;
}

.table td,
.table th {
    transition: background-color 0.3s ease, color 0.3s ease;
}
.filter-container {
    width: 70vh;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 20px;
  }
  
  .filter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .filter-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  lf-dropdown, lg-text-field {
    flex: 1;
  }