<lg-navbar></lg-navbar>
<div class="container">
  <h2 class="responses-number">{{submissions.length}} responses</h2>
  <button *ngIf="submissions.length>0" (click)="saveCSVFile()">Export to CSV</button>
</div>
<div class="statistics-container" *ngIf="submissions.length>0">

  <div class="statistics-container" *ngIf="submissions.length > 0">
    <div class="container" *ngFor="let question of questionLabels; let i = index">
      <p>{{ question }}</p>
      <canvas id="chart-{{ i }}"></canvas>
    </div>
  </div>
  
  <div class="filter-container">
    <div class="filter-row" *ngFor="let filter of filters; let i = index">
      <lf-dropdown [data]="dropdownData" (change)="updateFilterLabel($event, i)"></lf-dropdown>
      <lg-text-field (input)="updateFilterValue($event, i)" *ngIf="filter.label!=='created_at'"></lg-text-field>
      <lg-text-field type="date" (change)="updateFilterValue($event, i)" *ngIf="filter.label==='created_at'"></lg-text-field>
      <lf-button text="-" class="remove-button" (click)="removeFilter(i)" *ngIf="filters.length > 1"></lf-button>
    </div>
    <div class="filter-actions">
      <lf-button text="add filter" class="add-button" (click)="addFilter()"></lf-button>
      <lf-button text="Apply" class="apply-button" (click)="applyFilters()"></lf-button>
    </div>
  </div>
  
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Created At</th>
          <th *ngFor="let label of questionLabels">{{ label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of filteredData">
          <td>{{ datePipe.transform(submission.created_at, 'dd MMM y HH:mm:ss') }}</td>
          <td *ngFor="let label of questionLabels">
            {{ getAnswer(submission, label)|| "empty" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>