<lg-navbar></lg-navbar>
<div class="container">
  <h2 class="responses-number">{{submissions.length}} responses</h2>
  <button (click)="saveCSVFile()">Export to CSV</button>
</div>

<div class="filter-container">
  <div class="filter-row" *ngFor="let filter of filters; let i = index">
    <lf-dropdown [data]="questionLabels" (change)="updateFilterLabel($event, i)"></lf-dropdown>
    <lg-text-field (input)="updateFilterValue($event, i)"></lg-text-field>
    <lf-button text="remove filter" (click)="removeFilter(i)" *ngIf="filters.length>1"></lf-button>
  </div>
  <lf-button text="Add Filter" (click)="addFilter()"></lf-button>
  <lf-button text="Apply Filters" (click)="applyFilters()"></lf-button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created At</th>
        <th *ngFor="let label of questionLabels">{{ label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let submission of filteredData">
        <td>{{ datePipe.transform(submission.created_at, 'dd MMM y HH:mm:ss z') }}</td>
        <td *ngFor="let label of questionLabels">
          {{ getAnswer(submission, label) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
