
<div class="modal-overlay" *ngIf="showModal">
    <div class="modal" >
        <div class="ligne1">
            <div>
                <h3 class="title">Send Form</h3>
            </div>
            <div>
                <button (click)="closeModal()"><svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11.9999L12 1"   stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12 11.9999L1 1" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="ligne2">
            <div class="title">
                <p>Send via</p>
            </div>
    
            <div class="svg">
                <!-- email -->
    
                <div>
    
                    <button (click)="setContent('email')"> <svg width="28" height="22" viewBox="0 0 28 22" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.2542 20.8214H7.41807C3.56723 20.8214 1 19.0725 1 14.9916V6.82983C1 2.74895 3.56723 1 7.41807 1H20.2542C24.105 1 26.6723 2.74895 26.6723 6.82983V14.9916C26.6723 19.0725 24.105 20.8214 20.2542 20.8214Z"
                                stroke="#4F2ECB" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M20.2542 7.41277L16.2365 10.3277C14.9144 11.2838 12.7451 11.2838 11.4229 10.3277L7.41807 7.41277"
                                stroke="#4F2ECB" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
    
    
                </div>
                <!-- link -->
                <div>
                    <button (click)="setContent('link')" [ngClass]="{'active': isActiveSVG('link')}"><svg width="34"
                            height="20" viewBox="0 0 34 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.9611 18.75H24.3977C29.2709 18.75 33.2727 14.7643 33.2727 9.875C33.2727 5.00182 29.287 1 24.3977 1H21.9611"
                                stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12.2955 1H9.875C4.98568 1 1 4.98568 1 9.875C1 14.7482 4.98568 18.75 9.875 18.75H12.2955"
                                stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.6818 9.87514H23.5909" stroke="#292D32" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg></button>
    
                </div>
             

    
            </div>
        </div>
    
        <div> <button><svg width="532" height="5" viewBox="0 0 532 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.996244" y1="4.50001" x2="531.996" y2="0.510747" stroke="#D9D9D9" />
                </svg>
            </button>
        </div>
    
        <div *ngIf="content==='email'">
            <form #f="ngForm" (ngSubmit)="sendEmail(f)">
                <div class="ligne3">
                    <p>Email </p>
                    <p class="p">to</p>
    
                    <lg-text-field class="input" type="email" placeholder="" layout="outline"
                        name="toControl" ngModel></lg-text-field>
                    <p class="p">Subject</p>
                    <lg-text-field class="input" type="text" placeholder="" layout="outline"
                        name="subjectControl" ngModel></lg-text-field>
                    <p class="p">Message</p>
                    <lg-text-field class="input" type="text" placeholder="" layout="outline"
                        name="messageControl" ngModel></lg-text-field>
                    <div></div>
                </div>
    
                <div class="ligne4">
                    <lf-button text="Cancel" layout="outline" (click)="closeModal()"></lf-button>
                    <lf-button text="Send" type="submit" layout="primary"></lf-button>
                </div>
            </form>
    
        </div>
    
    
    
    
        <div *ngIf="content==='link'">
            <div class="ligne3">
                <p>Link </p>
                <lg-text-field class="input" class="title" type="email" value="{{dynamicLink}}"></lg-text-field>
    
            </div>
    
            <div class="ligne4">
                <lf-button (click)="closeModal()" text="Cancel" layout="outline"></lf-button>
                <lf-button text="Copy" (click)="copyLink()" layout="primary"></lf-button>
            </div>
    
        </div>
    
    </div>
</div>