

<div class="body">
  <div class="centerbar">
    <header>
      <div class="SR">
 
 
        <img src="../assets/icons/search icon.png" alt="" />
        <div class="img"><img src="../assets/icons/user.png" alt="" /></div>
      </div>
      <div class="barmots">
        <p>Previous 7 days</p>
        <div class="Ownedbyanyone">
          <p>Owned by anyone</p>
          <img
            class="imgarrowdown"
            src="../assets/icons/🦆 icon _arrow down 1_.png"
            alt=""
          />
        </div>
        <div class="Lastupdated">
          <p>Last updated</p>
          <img class="imgGroup" src="../assets/icons/Group (3).png" alt="" />
        </div>
      </div>
    </header>
  </div>
  <div class="sidebar">
    <div class="bar">
      <nav>
        <div class="logo">
          <img class="img" src="../assets/icons/Rectangle.svg" alt="" />
          <hr />
        </div>

        <ul>
          <div class="buttons">
            <div class="button">
              <li>
                <a href=""
                  ><img src="../assets/icons/Group.png" alt="" /><span
                    class="nav-item"
                    >All Forms</span
                  ></a
                >
              </li>
            </div>
            <div class="button">
              <li>
                <a href=""
                  ><img src="../assets/icons/Group (1).png" alt="" /><span
                    class="nav-item"
                    >Shared with me</span
                  ></a
                >
              </li>
            </div>
            <div class="button">
              <li>
                <a href=""
                  ><img src="../assets/icons/🦆 icon _edit_.png" alt="" /><span
                    class="nav-item"
                    >My Drafts</span
                  ></a
                >
              </li>
            </div>

            <div class="button">
              <li>
                <a href=""
                  ><img
                    src="../assets/icons/🦆 icon _verify_.png"
                    alt=""
                  /><span class="nav-item">Assigned Forms</span></a
                >
              </li>
            </div>
            <div class="button">
              <li>
                <a href=""
                  ><img src="../assets/icons/🦆 icon _star_.png" alt="" /><span
                    class="nav-item"
                    >Favorites</span
                  ></a
                >
              </li>
            </div>
            <div class="button">
              <li>
                <a href=""
                  ><img src="../assets/icons/trash icon.png" alt="" /><span
                    class="nav-item"
                    >Deleted</span
                  ></a
                >
              </li>
            </div>
          </div>
        </ul>
      </nav>
    </div>
    
  </div><a><button (click)="createForm()"  type="button" text="create form">create form</button></a>
  <div class="center"></div>
</div>
