
<div class="container">
<app-titre  class="title"
title="Lingform "></app-titre>

<p>
    <span class="bold-text">Make  </span> <span class="normal-text"> your own form</span>
  </p> <br><br>
  <p>
    <span class="bold-text">Share   </span> <span class="normal-text">    it with</span>
  </p>
  
  <p>
    <span class="bold-text">everyone !</span> 
  </p>
  <style>
    .bold-text {
      font-weight: bold;
      text-align: center;
      color: #48484A;
    }
    .title {
    text-align: center;
    width: 406px;
    line-height: 97px;
    font-family: Bradley Hand ,cursive;
  
  }
  
    .normal-text {
      font-weight: normal;
    }
  </style>

  
  </div>