<div class="list">

  <lg-checkbox [checked]="isChecked" (change)="onFormSelectionChange($event)"></lg-checkbox>
  <div class="list-item">
    <svg width="26" height="26" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5.02715 21H16.207C21.454 21 20.9895 18.9 20.9895 13.65V7.35C20.9895 2.1 21.454 0 16.207 0H5.02715C-0.219888 0 0.00133789 2.1 0.00133789 7.35V13.65C0.00133789 18.9 -0.219888 21 5.02715 21Z"
        fill="#7339ED" />
      <path d="M7.77783 6.22229H12.094H16.3074" fill="white" />
      <path d="M7.77783 6.22229H12.094H16.3074" stroke="white" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M7.81396 10.7443L16.1163 10.7443L7.81396 10.7443Z" fill="white" />
      <path d="M7.81396 10.7443L16.1163 10.7443" stroke="white" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M3.88892 6.22229H4.14473H4.37729" fill="white" />
      <path d="M3.88892 6.22229H4.14473H4.37729" stroke="white" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M3.88892 10.8889H4.14473H4.37729" fill="white" />
      <path d="M3.88892 10.8889H4.14473H4.37729" stroke="white" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M7.81396 15.6279L16.1163 15.6279L7.81396 15.6279Z" fill="white" />
      <path d="M7.81396 15.6279L16.1163 15.6279" stroke="white" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M3.88892 15.5555H4.14907H4.37729" fill="white" />
      <path d="M3.88892 15.5555H4.14907H4.37729" stroke="white" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
    <div class="form-detail" (click)="displayForm(formID)">
      <p>{{formTitle}}</p>
      <span>{{subCount}} submission .last modification {{updatedAt}} </span>

    </div>


  </div>


  <div class="tools">
    <lf-icon-button icon="arrow-up-right-from-square" iconStyle="solid" layout="row-icon" class="icon"
      (click)="displayForm(formID)"></lf-icon-button>
      <lf-icon-button icon="trash" iconStyle="solid" layout="row-icon" class="icon"
      (click)="deleteForm(formID)"></lf-icon-button>

  </div>
 
</div>