.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  gap: 20px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 6px;
}

.list:hover {
  background-color: #E9E4FD;
  transform: translateY(-2px);
}

.list-container {
  padding: 30px;
}

.list-item {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 90%;
}

.form-detail {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 80%;
}

.form-title {
  font-size: 0.9rem;
  flex:1;
}

.form-sub-info {
  font-size: 0.78rem;
  flex:1;
  color: #666;
}

.tools {
  display: flex;
  gap: 10px;
}

.icon {
  transition: color 0.3s, transform 0.3s;
}

.icon:hover {
  color: #7339ED;
  transform: scale(1.1);
}

.menu {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: block; /* Managed by Angular's *ngIf */
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(-10px);
}


