.sidebar{
    padding: 50px 20px 0 45px;
    overflow-y: scroll;
    height: 100%;
    max-width:400px ;
    background-color: white;


}
.bloc{
    
    margin-bottom: 20px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 30px;
    margin-top: 20px;

}

@media only screen and (max-width:760px) {
 [class*="sidebar"]{
 
 }   
}
p{
    font-size: small;
    margin-bottom: 20px;
    
   
}
