<div class="wrapper">
  <h1>Password Reset</h1>
  <p *ngIf="!redirecting">A reset link will be sent to your email</p>
  <form class="form" #f="ngForm" (ngSubmit)="resetPassword(f)">
    <div class="input">
      <div *ngIf="!redirecting" class="input3">
        <lg-text-field
          type="email"
          placeholder="Enter email"
          layout="outline"
          ngModel
          name="emailControl"
        ></lg-text-field>
      </div>
      <div *ngIf="redirecting" class="input3">
        <lg-text-field
          type="password"
          placeholder="New Password"
          layout="outline"
          ngModel
          name="passwordControl"
        ></lg-text-field>
      </div>
      <div *ngIf="redirecting" class="input3">
      <lg-text-field
        type="password"
        placeholder="Confirm Password"
        layout="outline"
        ngModel
        name="confirmPasswordControl"
      ></lg-text-field>
    </div>
  </div>
    <lf-button
      *ngIf="!redirecting && !isSubmitting"
      text="Submit"
      type="submit"
      layout="primary"
    ></lf-button>
    <lf-button
      *ngIf="!redirecting && isSubmitting"
      text="Loading..."
      type="submit"
      layout="primary"
      [isDisabled]="isSubmitting"
    ></lf-button>
    <lf-button
      *ngIf="redirecting"
      text="Save"
      type="submit"
      layout="primary"
    ></lf-button>
  </form>
</div>
