<div *ngIf="mode === 'edit'" class="container ">
  <span class="material-symbols-outlined">drag_handle</span>

    <div class="input-type-area">
      <lg-input-components
        icon="file"
        title="File Upload"
        layout="second-layout"
      ></lg-input-components>
      <div class="tools">
        <lf-toggle (click)="onToggle()" [required]="required"></lf-toggle>
        <lf-icon-button
          icon="copy"
          iconStyle="regular"
          layout="row-icon"
          class="icon"
        ></lf-icon-button>
        <lf-icon-button
          icon="trash"
          iconStyle="solid"
          layout="row-icon"
          class="icon"
          (click)="removeBlock($event, id)"
        ></lf-icon-button>
      </div>
    </div>
    <lg-text-field
      (input)="updateQuestLabel($event)"
      [value]="label"
      class="title"
      placeholder="Question label"
    ></lg-text-field>


  </div>
  <div *ngIf="mode === 'live'" class="container">
    <label for="">{{ label }}
      <span class="required-sign" *ngIf="required">*</span>
      
    </label>
    <lg-file-upload (valueChange)="onFileSelected($event)"></lg-file-upload>
   <button *ngIf="files.length>0" (click)="upload()">upload</button>
  </div>
  
  