/* .file-upload-container {
    width: 100%;
    padding: 10px;
  }
  
  .input-type-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tools {
    display: flex;
    gap: 10px;
  }
  
  .title {
    margin-top: 10px;
  }
  
  .file-name-display {
    margin-top: 10px;
    font-size: 14px;
    color: var(--primary-color);
  } */
  