<div class="corps ">

    <div class="left-column"> <app-page-globle></app-page-globle>
   </div>
    <style>
    
     .text {
     text-align: center;
   }
     </style>
     <div class="right-column">
       <div class="wrapper">
           
       <h1>sign Up</h1>
       <form   action="#">
        
       <p class="label">Address Email</p>
   <br>
           <lg-text-field  type="email" placeholder=""  layout="outline"></lg-text-field><br>
         <br>  <p class="label"> Password</p>
            <lg-text-field  type="password" placeholder=""  layout="outline"></lg-text-field><br>
   

       </form>
       <br>
          <div class="terms">
         
           <label for="checkbox" id="checkbox"> Forgot your password
               <a href ="#">
               
           </a></label>
   
          </div> 
          <br>
          <lf-button text="Submit" layout="primary"></lf-button>
      <div class="member">
       Already a member? <a href="login"> Sign Up</a>
      </div>
       </div>
       
       </div></div>
   
