/* You can add global styles to this file, and also import other style files */
/* @import 'tailwindcss/base'; */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*, body {
    margin: 0;
    line-height: inherit;
    font-family: 'Inter', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--bg-color)
}

button, [type='button'], [type='reset'], [type='submit'] {
    --webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}


.container {
    padding: 15px 20px 27px 50px;
    min-width:50%;
    max-width: 60%;
    margin: auto;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-type-area {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 15px;
    margin-bottom: 15px;
}


:root {
    --primary-color: #7d61e5;
    --secondary-color: #7339ed;
    --white: #FFFFFF;
    --gray: #D9D9D9;
    --darker-gray:#969696;
    --border: 1px solid var(--darker-gray);
    --border-radius: 8px;
    --circle: 50%;
    --bg-color: #f8f6ff;
    --separation-border: 1px solid var(--gray);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --outline-offset: 2px;
    --outline-width: 3px;
    --toggle-width: 26px;
    --toggle-height: 14px;
    --toggle-indicator-radius: 6px;
    --toggle-font-size: 14px;
    --font-color: #292D32;
    --salty-white: #F5F5F5;
    --navbar-bg-color: #F9F9FC;
    --input-btn-bg-color: #F3F1FF;
    --box-shadow: 1px 1px 10px var(--shadow-color);

}


.d-flex {
    display: flex;
}