.Fullname {
    display: flex;
    border-radius: 8px;
    gap: 20px;
    margin: 20px;
}

h1 {
    color: var(--primary-color);
    font-size: 35px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 460px;
    padding: 30px 10px;
    gap: 30px;
    margin: auto;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    box-shadow: var(--box-shadow);

}

.form{
    width: 80%;
}


.input {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 20px;

}

.member {
    font-size: 10px;

}

.terms {
    font-size: 13px;

}