
  
    <div class="wrapper">
      <h1>Sign Up</h1>
    
        <div class="from">
          <div class="Fullname">
            <div>
              <lg-text-field
                id="input1"
                type="text"
                placeholder="Frist name"
                layout="outline"
              ></lg-text-field>
            </div>
            <div>
              <lg-text-field
                id="input2"
                type="text"
                placeholder="Last name"
                layout="outline"
              ></lg-text-field>
            </div>
          </div>
          <div class="input">
            <div class="input3">
              <lg-text-field
                type="email"
                placeholder="Email@gmail.com"
                layout="outline"
              ></lg-text-field>
            </div>

            <div class="input3">
              <lg-text-field
                type="password"
                placeholder="Password"
                layout="outline"
              ></lg-text-field>
            </div>

            <div class="input3">
              <lg-text-field
                type="password"
                placeholder="confirm Password"
                layout="outline"
              ></lg-text-field>
            </div>
          </div>
        </div>
   

      

      <lf-button text="register" layout="primary"></lf-button>
      <div class="member">
        Already a member? <a href="#"> <span>Login Here</span> </a>
      </div>
    </div>


