<div *ngIf="isLoading" class="spinner-container">
  <div class="loading-spinner"></div>
</div>

<div class="form-container"
  [ngStyle]="{ 'background-color': bgColor , 'background-image': bgImage ? 'url(' + bgImage + ')' : 'none'}"
  *ngIf="!isLoading">
  <div class="form-generation-section" *ngIf="mode==='edit'">
    <div class="main-ai">
      <lf-icon-button icon="sliders" iconStyle="solid" layout="outline"></lf-icon-button>
      <lf-button (click)="generateFormWithAI(userPrompt)" text="generate"></lf-button>
      <lg-text-field (input)="updateUserPrompt($event)" placeholder="Enter form description here..."></lg-text-field>

    </div>

    <div class="secondary-ai">
      <div class="form-element-quantity">
        <label for="multipleChoice">Multiple Choice:</label>
        <input type="number" id="multipleChoice" [(ngModel)]="elementQuantities.multipleChoice" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="oneChoice">One Choice:</label>
        <input type="number" id="oneChoice" [(ngModel)]="elementQuantities.oneChoice" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="shortAnswer">Short Answer:</label>
        <input type="number" id="shortAnswer" [(ngModel)]="elementQuantities.shortAnswer" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" [(ngModel)]="elementQuantities.rating" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="email">Email:</label>
        <input type="number" id="email" [(ngModel)]="elementQuantities.email" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="phone">Phone:</label>
        <input type="number" id="phone" [(ngModel)]="elementQuantities.phone" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="fileUpload">File Upload:</label>
        <input type="number" id="fileUpload" [(ngModel)]="elementQuantities.fileUpload" min="0" />
      </div>
      <div class="form-element-quantity">
        <label for="yesOrNo">Yes/No:</label>
        <input type="number" id="yesOrNo" [(ngModel)]="elementQuantities.yesOrNo" min="0" />
      </div>
    </div>

  </div>




  <div class="cover" *ngIf="mode === 'edit' && (showCoverUpload || showLogoUpload || coverImage || logoImage)">

    <lf-upload *ngIf="showCoverUpload || coverImage " [fileType]="'image'" [fileUrl]="coverImage" classes="image-cover"
      mode="edit" placeholderText="Click here to upload cover image" (fileUploaded)="imageUpload($event, 'cover')"
      role="cover" (removeFile)="removeImage('cover')">
    </lf-upload>
    <lf-upload *ngIf="showLogoUpload || logoImage " [fileType]="'image'" [fileUrl]="logoImage" classes="image-logo"
      mode="edit" placeholderText="Click here to upload logo image" (fileUploaded)="imageUpload($event, 'logo')"
      role="logo" (removeFile)="removeImage('logo')">
    </lf-upload>
  </div>
  <div class="cover" *ngIf="mode === 'live' && (coverImage || logoImage)">

    <lf-upload [fileType]="'image'" *ngIf="mode === 'live' && coverImage" [fileUrl]="coverImage" role="cover"
      mode="live"></lf-upload>


    <lf-upload [fileType]="'image'" *ngIf="mode === 'live' && logoImage" [fileUrl]="logoImage" role="logo"
      mode="live"></lf-upload>




  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-builder">


    <div *ngIf="mode === 'edit'" class="container header">
      <lg-text-field type="text" placeholder="Form title" class="title" [value]="title" fontSize="24"
        (input)="updateBuilderTitle($event)"></lg-text-field>
      <lg-text-area placeholder="Form Description" [value]="description" (input)="updateBuilderDescription($event)">
      </lg-text-area>
    </div>


    <div *ngIf="mode === 'live'" class="container header">
      <lg-text-field type="text" class="title" [value]="title" fontSize="24" [isDisabled]="true"></lg-text-field>
      <hr *ngIf="description">
      <lg-text-area *ngIf="description" placeholder="Form Description" [value]="description" [isDisabled]="true">
      </lg-text-area>

    </div>


    <div class="block-list" cdkDropList (cdkDropListDropped)="drop($event)">

      <div class="block" *ngFor="let block of blocks" [cdkDrag]="mode==='edit'" [cdkDragDisabled]="mode==='live'"
        [cdkDragData]="block">

        <div *ngIf="mode==='edit'" class="drag-handle" cdkDragHandle>
          <span class="material-symbols-outlined">
            drag_indicator
          </span>
        </div>

        <lg-multiple-choice-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'MultipleChoiceElementComponent'" ngModel [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          (settingsClicked)="onBlockSettingsClick(block)"></lg-multiple-choice-element>

        <lg-one-choice [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'OneChoiceComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-one-choice>

        <lg-email-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'EmailElementComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-email-element>

        <lg-date-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'DateElementComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-date-element>

        <lg-short-answer [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'ShortAnswerComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-short-answer>

        <lg-phone-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'PhoneElementComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-phone-element>

        <lg-file-upload-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'FileUploadElementComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-file-upload-element>
        <lg-rating-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'RatingElementComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lg-rating-element>
        <lf-yes-or-no-element [isInvalidBlock]="invalidBlocks[block.quest_id]" [mode]="mode"
          *ngIf="block.kind === 'YesOrNoElementComponent'" [id]="block.quest_id" [kind]="block.kind"
          [label]="block.questLabel" [metaData]="block.quest_meta" [required]="block.required" [name]="block.quest_id"
          ngModel (settingsClicked)="onBlockSettingsClick(block)"></lf-yes-or-no-element>
      </div>
    </div>

    <lf-button *ngIf="mode === 'live'" text="submit" type="submit"></lf-button>
  </form>
</div>