<div class="form-container" [ngStyle]="{ 'background-color': bgColor }">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-builder">
    <div *ngIf="mode === 'edit'" class="container header">
      <lg-text-field type="text" placeholder="Form title" class="title" [value]="title" fontSize="24" (input)="updateBuilderTitle($event)"></lg-text-field>
      <lg-text-area placeholder="Form Description"  [value]="description" (input)="updateBuilderDescription($event)"> </lg-text-area>
    </div>

    <div *ngIf="mode === 'live'" class="container header">
      <lg-text-field type="text" class="title" [value]="title" fontSize="24" [isDisabled]="true"></lg-text-field>
      <hr *ngIf="description">
      <lg-text-area *ngIf="description"placeholder="Form Description"  [value]="description" [isDisabled]="true" > </lg-text-area>

    </div>

    <div class="block-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="block" *ngFor="let block of blocks" [cdkDrag]="mode==='edit'" [cdkDragDisabled]="mode==='live'" [cdkDragData]="block">
        
        <div *ngIf="mode==='edit'" class="drag-handle" cdkDragHandle>
          <span class="material-symbols-outlined">
            drag_indicator
            </span>
        </div>
        
        <lg-multiple-choice-element
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'MultipleChoiceElementComponent'"
          ngModel
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
        ></lg-multiple-choice-element>

        <lg-one-choice
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'OneChoiceComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-one-choice>

        <lg-email-element
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'EmailElementComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-email-element>

        <lg-date-element
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'DateElementComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-date-element>

        <lg-short-answer
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'ShortAnswerComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-short-answer>

        <lg-phone-element
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'PhoneElementComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-phone-element>

        <lg-file-upload-element
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'FileUploadElementComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-file-upload-element>
        <lg-rating-element
          [isInvalidBlock]="invalidBlocks[block.quest_id]"
          [mode]="mode"
          *ngIf="block.kind === 'RatingElementComponent'"
          [id]="block.quest_id"
          [kind]="block.kind"
          [label]="block.questLabel"
          [metaData]="block.quest_meta"
          [required]="block.required"
          [name]="block.quest_id"
          ngModel
        ></lg-rating-element>
      </div>
    </div>

    <lf-button *ngIf="mode === 'live'" text="submit" type="submit"></lf-button>
  </form>
</div>
