.form-builder {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    height: 100%;
 
}

.header {
    margin: 0 !important;
    border-top: 5px solid var(--secondary-color);
}

@media only screen and (min-width: 1400px) {
    [class*="form-builder"] {
        width: 80%;
    }
}
hr{
    border: var(--border);
}
.block-list {
 
    display: flex;
    flex-direction: column;
  }
  
  .block {
    cursor: grabbing;
    margin-bottom: 10px; 
  }
  
  .block.cdk-drag-preview {
    background-color: #e0e0e0; 
    border-color: #bdbdbd;
    
  }
  
  .block.cdk-drag-placeholder {
    opacity: 0.5;
  }
  
  .block.cdk-drag-animating {
    transition: transform 250ms ease; 
  }
  