<div class="file-container">
  <input
    type="file"
    [multiple]="isMultiple"
    (change)="onFileSelected($event)"
    [disabled]="isDisabled"
    class="file-input"
  />
  <span class="custom-file-button">
    <button>
      <span class="material-symbols-outlined">
        attachment
        </span>
      <span >Attach Files</span>
    </button>
  </span>
</div>
<div *ngIf="selectedFiles.length > 0" class="file-names">
  <span *ngFor="let file of selectedFiles; let i = index">
    {{ file.name }}
    <button class="remove-file" (click)="removeFile(i, $event)">&#x2715;</button>
  </span>
  
</div>
<div class="error-message">{{errMsg}}</div>
